body {
  line-height: 1.2;
  margin: 1rem;
}

/* @font-face {
  font-family: 'MyDemoFont';
  src: url('../assets/fonts/GT-Sectra-Bold.woff2') format('woff2'),
       url('../assets/fonts/GT-Sectra-Bold.woff') format('woff');
}

body {
  font-family: MyDemoFont;
} */

h1 {
  font-size: 3rem;
}

p {
  margin-bottom: 1em;
}


img {
  width: 100%;
  height: auto;
}

/* body {
  font-family: sans-serif;
}

.wf-mydemofont-n4-active body {
  font-family: MyDemoFont;
} */

/* body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.wf-mydemofont-n4-active body {
  font-family: MyDemoFont;
  letter-spacing: 0;
} */
