@import "./css/reset.css";
/* @import "./css/typography.css"; */
@import "./css/vars.css";
/* @import "./css/footer.css"; */
/* @import "./assets/fonts/fonts.css"; */

.lottie-env {
  width: 100%;
  height: auto;
}

.lottie-env .button-container {
}

a {
  color: black;
}

.cta-text {
  text-align: center;
}

#lottie-two svg g g g path {
  cursor: pointer;
}

#lottie-four svg g g g path {
  cursor: pointer;
}

#lottie-five svg g g g path {
  cursor: pointer;
}

#lottie-six svg g g g path {
  cursor: pointer;
}

#lottie-seven svg g g g path {
  cursor: pointer;
}

.env-three {
  width: 100%;
}

#lottie-three {
  height: 100vh;
  width: 100%;
}

.env-two {
  height: 40rem;
  width: 40rem;
}

.display-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* START */

body {
  background: var(--c-bg);
}

body,
button,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: roc-grotesk, sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

.subheading {
  font-weight: bold;
  font-size: 2.2rem;
  color: #5443db;
  margin-bottom: 1rem;
}

.container {
  margin: 0 2rem;
}

.table {
  background: url(./assets/img/table-s_1.svg);
  width: 100%;
  height: 24rem;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-template-rows: auto;
  grid-gap: 0.625rem 1.875rem;
}

.maker-bol {
  width: 10rem;
  height: 10rem;
  animation: -maker-bol 8s infinite linear;

  &:hover {
    cursor: pointer;
  }
}

@keyframes -maker-bol {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.body-text-bold {
  font-weight: 600;
}

.btn {
  padding: 1.5rem 3rem;
  border: 2px solid black;
  background-color: var(--c-purple);
  color: white;
  display: inline-block;
  margin-top: 15px;
  box-shadow: 1rem 1rem 0 0 rgba(43, 43, 43, 1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 0px 0px rgba(43, 43, 43, 1);
}

.tut-number {
  font-weight: 600;
  font-size: 4rem;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eec372;
  border: 2px solid black;
}

.tut-number4 {
  margin-bottom: 5rem;
}

.shadow {
  box-shadow: 1rem 1rem 0 0;
}

@media (--ipad) {
  .container {
    margin: 0 5rem;
  }

  .grid {
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto;
    grid-gap: 1.25rem 3.125rem;
  }

  body,
  p {
    font-size: 1.6rem;
  }
}

@media (--macbook) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 8rem;
  }
}

/* tools */

.tools {
  grid-column: col-start / span 6;
}

.tools-title {
  width: 100%;
  background: #403ded;
  padding: 5rem 2rem;
  color: white;
  margin-bottom: 0;
  border: 2px solid black;
}

.tools-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: white;
}

.tools-item {
  display: flex;
  flex-flow: column;
  align-items: center;

  border: 2px solid #403ded;
  margin: -1px;
  padding: 4rem 0;

  & img {
    margin-bottom: 2rem;
  }
}

.first_of_all {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: roc-grotesk, sans-serif;
}

@media (--ipad) {
  .tools-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--macbook) {
  .tools-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* tutorial */

/* tut 1 */

.tut1 {
}

.tut1-container {
  max-width: 1240px;
  padding: 0 8rem;
  margin: 0 auto;
}

.tut1-text {
}

.wash-croc {
  display: flex;
  margin: 0 auto;
}

@media (--macbook) {
  .tut1-text {
    max-width: 35rem;
    margin: 0 auto;
  }
}

/* tut 2 */

.tut2 {
  background: #181918;
  color: white;
}

.tut2-heading {
  grid-column: col-start / span 6;
}

.croc-shoc-container {
  position: relative;
  grid-column: 1 / span 2;
}

.croc-shoc-man {
  width: 100%;
}

.hand {
  position: absolute;
  /* left: calc(0 - var(--padding-s)); */
  left: -2.4rem;
  top: 5rem;
  width: 100%;
}

/* tut 3 */

.tut3 {
  grid-column: col-start / span 6;

  margin-bottom: 15rem;
}

.tut3_steps {
}

.tut3_step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tut3_step-text {
  max-width: 40rem;
}

.tut3_step-img_container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tut3_step-img {
  width: 80%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.tut3_step-number {
  position: absolute;

  font-family: roc-grotesk, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12.5rem;
  top: -3rem;
  left: calc(50% - 3.75rem);

  color: #eec372;

  -webkit-text-stroke: 2px black;
  z-index: -1;
}

.tut3_step-number_2 {
  left: -20%;
}

.tut3_step-number_3 {
  left: unset;
  right: -20%;
}

.dotted-line {
  display: block;
  margin: 2rem 0;
  height: 8rem;
  width: 0.2rem;
  background: repeating-linear-gradient(
      to bottom,
      black 0,
      black 8px,
      transparent 8px,
      transparent 16px
    )
    /*3px red then 4px transparent -> repeat this!*/;
}

@media (--ipad) {
  .tut3_steps {
    display: flex;
  }

  .tut3_step {
    margin: 0 3rem;
  }

  .dotted-line {
    display: none;
  }

  .tut3 {
    margin-bottom: 5rem;
  }
}

/* tut - 4 */

.tut4 {
}

.tut4-heading {
  margin-bottom: 4rem;
}

.color-picker {
}

.cp-functionality {
  flex-grow: 1;
}

.colors-radio {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.colors-radio:checked + label .crs-active {
  opacity: 1;
}

.colors-label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 15px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.color-radio-state {
  width: 12px;
  height: 12px;
  border: 2px solid black;
  background-color: #efe6d7;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.crs-active {
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.c-croc {
  fill: none;
}

.c-croc-part {
  stroke: black;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  transition: all 0.3s ease;
}

.c-croc-throat {
  fill: #5443db;
  transition: all 0.3s ease;
}

.c-croc-holes {
  fill: #3f32a4;
}

.c-croc-uppersole {
  fill: #a99ce9;
}

.c-croc-sole {
  fill: #edaef1;
}

.c-croc-strap {
  fill: #ef80ee;
}

.c-croc-gore {
  fill: #f4d76d;
}

.c-croc-pin {
  stroke: white;
  fill: none;
}

.cls-3 {
  clip-path: url(#clip-path);
}

.cp-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.cp-title-numbers {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.2rem 2.4rem;
  /* border-radius: 30px; */
  margin-bottom: 3rem;
}

.cp-colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 50rem;
  margin: 0 auto;
}

.cp-color {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.cp-numbers {
  display: flex;
  justify-content: space-around;
}

.cp-number {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.cp-number.active {
  opacity: 1;
  border-bottom: 2px solid black;
}

.cp-canvas {
  position: relative;
}

.cp-croc-bg {
  width: 100%;
  height: 100%;
  z-index: -2;
}

.cp-croc {
  position: absolute;
  width: 60%;
  height: 100%;
  left: calc(50% - 30%);
}

@media (--ipad) {
  .cp-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cp-colors {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .cp-canvas {
    flex-grow: 1;
  }

  .cp-title {
    text-align: left;
  }

  .cp-numbers {
    justify-content: space-between;
  }
}

/* tut - 5 */

.tut5 {
  background: var(--c-yellow);
}

.tut5-wobble_top {
  background: url(./assets/img/step5_wobble.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 left 50%;
  width: 100vw;
  height: 10rem;
}

.tut5-wobble_bottom {
  background: url(./assets/img/step5_wobble.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 left 50%;
  width: 100vw;
  transform: rotate(180deg);
  height: 10rem;
}

.full-width {
  grid-column: col-start / span 6;
}

/* slider */
.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25rem;
  height: 25rem;
  margin-top: 22rem;
  border: 0;
  background-image: url(./assets/img/wash.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (--ipad) {
  .full-width {
    grid-column: col-start / span 12;
  }
}
